<form (ngSubmit)="onSubmitUserForm()" #userForm="ngForm">

  <div>
      <label for="name">Name: </label>
      <input type="text" name="name" autocomplete="username" [(ngModel)]="user.name" required minlength="3">
  </div>

  <div>
      <label for="password">Password: </label>
      <input type="password" name="password" autocomplete="current-password" [(ngModel)]="user.password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$">
  </div>

  <div>
      <label for="email">Email: </label>
      <input type="email" name="email" autocomplete="email" [(ngModel)]="user.email" required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
  </div>

  <div>
      <label for="birthday">Birthday: </label>
      <input type="date" name="bithday" [(ngModel)]="user.birthday" required>
  </div>

  <input type="avatar" hidden>

  <div>
      <button type="submit" [disabled]="!userForm.valid">Create User</button>
  </div>

</form>